<div ng-controller="DocumentCreateCtrl as ctrl">
    <form name="addDocumentForm" ng-submit="ctrl.addObject(addDocumentForm, ctrl.model)">
        <md-card>
            <md-input-container class="md-block">
                <label>Document name</label>
                <input ng-model="ctrl.model.name">
                <div ng-messages="ctrl.errors.name">
                    <div ng-message="required" ng-repeat="message in ctrl.errors.name">{{ message }}</div>
                </div>
            </md-input-container>
        </md-card>
        <md-card>
            <div ng-repeat="document_value in ctrl.model.document_values">
                <div ng-include="'/app/modules/document/fields/' + document_value.widget + '.html'"></div>
            </div>
        </md-card>
        <md-button class="md-raised md-primary" type="submit">Save</md-button>
    </form>
</div>