<div ng-controller="DocumentCtrl as ctrl">
    <form name="documentForm" ng-submit="ctrl.updateObject(documentForm, ctrl.model)">
        <md-card>
            <md-input-container class="md-block">
                <div><b>Document name</b></div>
                <div>{{ ctrl.model.name }}</div>
            </md-input-container>
        </md-card>
        <md-card>
            <div ng-repeat="document_value in ctrl.model.document_values">
                <div ng-include="'/app/modules/document/fields/' + document_value.field.widget + '.html'"></div>
            </div>
        </md-card>
        <md-button class="md-raised md-primary" type="submit">Save</md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.approve()">Approve Document</md-button>
    </form>
</div>