<div ng-controller="DocumentCtrl as ctrl">
    <form name="documentForm" ng-submit="ctrl.updateObject(documentForm, ctrl.model)">
        <md-input-container class="md-block">
            <label>Document name</label>
            <input ng-model="ctrl.model.name">
            <div ng-messages="ctrl.errors.name">
                <div ng-message="required" ng-repeat="message in ctrl.errors.name">{{ message }}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" ng-repeat="document_value in ctrl.model.document_values">
            <label>{{ document_value.field.name }}</label>
            <input ng-model="document_value.value" required>
            <!--<textarea ng-model="ctrl.model.field_value[field.id].value" required></textarea>-->

            <div ng-messages="ctrl.errors.name">
                <div ng-message="required" ng-repeat="message in ctrl.errors.name">{{ message }}</div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Save</md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.approve()">Approve Document</md-button>
    </form>
</div>