<div ng-controller="DocumentTemplateCreateCtrl as ctrl">
    <md-card>
        <form name="addTemplateForm" ng-submit="ctrl.addObject(addTemplateForm, ctrl.model)">
            <md-input-container class="md-block">
                <label>Template name</label>
                <input ng-model="ctrl.model.name">
                <div ng-messages="ctrl.errors.name">
                    <div ng-message="required" ng-repeat="message in ctrl.errors.name">{{ message }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>What group can create document?</label>
                <md-select ng-model="ctrl.model.creators_group">
                    <md-option ng-repeat="group in ctrl.groups" value="{{group.id}}">
                        {{group.name}}
                    </md-option>
                </md-select>
                <div ng-messages="ctrl.errors.creators_group">
                    <div ng-message="required" ng-repeat="message in ctrl.errors.creators_group">{{ message }}</div>
                </div>
            </md-input-container>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Document fields</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row" ng-repeat="(template_field_index, template_field) in ctrl.model.document_template_fields">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input ng-model="template_field.name"
                                ng-change="ctrl.changeFieldName(ctrl.model.document_template_fields[template_field_index].name, '{{ ctrl.model.document_template_fields[template_field_index].name }}')">
                            <div ng-message="required"
                                 ng-repeat="message in ctrl.errors.document_template_fields[template_field_index].name">
                                {{ message }}
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Widget</label>
                            <md-select ng-model="template_field.widget" class="md-block" flex-gt-sm>
                                <md-option ng-repeat="widget in ctrl.field_widgets" value="{{widget.key}}">
                                    {{widget.title}}
                                </md-option>
                            </md-select>
                            <div ng-message="required"
                                 ng-repeat="message in ctrl.errors.document_template_fields[template_field_index].widget">
                                {{ message }}
                            </div>
                        </md-input-container>

                        <div ng-include="'/app/modules/document_template/extrafields/' + ctrl.model.document_template_fields[template_field_index].widget + '.html'"></div>

                        <md-input-container class="md-block">
                            <md-button class="md-icon-button md-accent md-input-line-delete" ng-click="ctrl.removeField(template_field)">
                                <i class="material-icons">clear</i>
                            </md-button>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="ctrl.addField()">Add new field</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Document steps</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row" ng-repeat="(template_step_index, template_step) in ctrl.model.document_template_steps">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input type="hidden" ng-model="template_step.step_number">
                            <input ng-model="template_step.name">
                            <div ng-message="required"
                                 ng-repeat="message in ctrl.errors.document_template_steps[template_step_index].name">
                                {{ message }}
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Members group</label>
                            <md-select ng-model="template_step.members_group">
                                <md-option ng-repeat="group in ctrl.groups" value="{{group.id}}">
                                    {{group.name}}
                                </md-option>
                            </md-select>
                            <div ng-message="required"
                                 ng-repeat="message in ctrl.errors.document_template_steps[template_step_index].members_group">
                                {{ message }}
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Editable fields(multi)</label>
                            <md-select multiple ng-model="template_step.editable_fields_names" placeholder="Editable fields">
                                <md-option
                                        ng-repeat="template_field in ctrl.model.document_template_fields"
                                        ng-value="template_field.name">
                                    {{template_field.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Read only fields(multi)</label>
                            <md-select multiple ng-model="template_step.readonly_fields_names" placeholder="Read only fields">
                                <md-option
                                        ng-repeat="template_field in ctrl.model.document_template_fields"
                                        ng-value="template_field.name">
                                    {{template_field.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button class="md-icon-button md-accent md-input-line-delete" ng-click="ctrl.removeStep(template_step)">
                                <i class="material-icons">clear</i>
                            </md-button>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="ctrl.addStep()">Add new step</md-button>
                </md-card-actions>
            </md-card>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" type="submit">Save</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>